body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-sm {
  gap: 4px;
}

.gap-md {
  gap: 8px;
}

.gap-lg {
  gap: 16px;
}

.gap-xl {
  gap: 32px;
}

.border {
  border: 1px solid black;
}

.border-r {
  border-right: 1px solid black;
}

.padding-sm {
  padding: 4px;
}

.padding-md {
  padding: 8px;
}

.padding-r-md {
  padding: 8px;
}

.padding-lg {
  padding: 16px;
}

.padding-xl {
  padding: 32px;
}

.container {
  width: 500px;
}

.loading * {
  cursor: wait;
  color: gray;
}

.image-frame {
  display: block;
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
}
